body{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
div{
    background-color: pink;
    border-radius: 10%;
}
.container{
    display: flex;
    width: 370px;
    height: 370px;
    background-color: pink;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    border-radius: 0%;
}
.caixa01{
    
    display: flex;
    background-color: mediumvioletred;
    width: 100px;
    height: 100px;
    justify-content: left;
    align-items: baseline
}
.caixa02{
    display: flex;
    background-color:  mediumvioletred;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: baseline
}
.caixa03{
    display: flex;
    background-color:    mediumvioletred;
    width: 100px;
    height: 100px;
    justify-content: right;
    align-items: baseline
}
.caixa04{
    display: flex;
    background-color:   mediumvioletred;
    width: 100px; 
    height: 100px;
    justify-content: left;
    align-items: center
}
.caixa05{
    display: flex;
    background-color:  mediumvioletred;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center
}
.caixa06{
    display: flex;
    background-color:   mediumvioletred;
    width: 100px;
    height: 100px;
    justify-content: right;
    align-items: center ;
}
.caixa07{
    display: flex;
    background-color:   mediumvioletred;
    width: 100px;
    height: 100px;
    justify-content: left;
    align-items: end

}
.caixa08{
    display: flex;
    background-color:   mediumvioletred;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: end
}
.caixa09{
    display: flex;
    background-color:   mediumvioletred;
    width: 100px;
    height: 100px;
    justify-content: right;
    align-items: end
}
.caixamenor{
    background-color: black;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: space-around;
}
















